<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="MyTestSuite" parallel="classes" thread-count="5">-->
<suite name="MyTestSuite" thread-count="3" parallel="methods">
    <test name="MyTests">
        <classes>
            <class name="com.nithin.tests.LoginPageTest"/>
            <class name="com.nithin.tests.HomePageTest"/>
        </classes>
    </test>
</suite>


